.hero1{
    background-image: url(/img/bckimg1.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 50px;;
    padding-right: 50px;
    padding-bottom: 100px;
}
.hero2{
    padding-left: 50px;;
    padding-right: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.hero3{
    padding-left: 50px;;
    padding-right: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.hero4{
    padding-left: 50px;;
    padding-right: 50px;
    padding-bottom: 80px;
    margin-top: 100px;
}
body{
  background-color: black;
  margin-bottom: 150px;
}
.nav-link:hover{
    font-weight: bold;
}
@media(min-width: 1020px){
    h1{
        font-size: 75px;
        color: white;
    }
}
@media(max-width: 1020px){
    h1{
        font-size: 55px;
        color: white;
    }
}

p{
    color: white;
}
.des2{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.des1{
    padding-top: 50px;
    margin-left: 20px;
    font-size: large;
    font-weight: semibold;
   
}

label{
    color: grey;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #555;
  }
  
  .social-icons a:hover {
    color: #000;
  }
  
@media(max-width: 1020px){
    .aboutme-1{
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
}

@media(min-width: 670px){
    .aboutme-1{
        font-size: 18px;
        line-height: 20px;

    }
}

@media(max-width: 1020px){
    .aboutmehead{
        font-size: 45px;
        color: white;
        font-weight: semibold;
        text-align: center;

    }
}
@media(min-width: 1020px){
    .aboutmehead{
        font-size: 75px;
        color: white;
        font-weight: Semibold;
        text-align: left;

    }
}

@media(max-width: 1020px){
    .getin-1{
        font-size: 45px;
        color: rgb(255, 255, 255);
        font-weight: semibold;

    }
}
@media(min-width: 1020px){
    .getin-1{
        font-size: 55px;
        color: white;
        font-weight: Semibold;

    }
}